@use 'sass:map';

@use '../../vars/vars' as *;

.how-it-works {
    &__title {
        margin-left: 139px;
        margin-bottom: 124px;

        @media(max-width: map.get($width, tablet)) {
            margin-left: 64px;
            margin-bottom: 37px;
        }

        @media(max-width: map.get($width, mobile-m)) {
            margin-left: 39px;
            margin-bottom: 37px;
        }

    }

    .steps-wrapper {
        display: flex;
        justify-content: center;
        border-top: 1px solid #fff;

        @media(max-width: map.get($width, lap-top)) {
            flex-direction: column;
            border-top: none;
            border-left: 1px solid #fff;
            margin-left: 50px;
            padding-left: 45px;
            gap: 40px;
        }

        @media(max-width: map.get($width, tablet)) {
            margin-left: 62px;
            padding-left: 18px;
            gap: 47px;
        }

        @media(max-width: map.get($width, mobile-m)) {
            margin-left: 38px;
        }

        .step {
            position: relative;
            max-width: 254px;
            color: #b4b4b4;

            @media(max-width: map.get($width, lap-top)) {
                max-width: 90%;
                display: flex;
                align-items: center;
            }

            span {
                color: #fff;
            }

            &.active {
                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 30px;
                    height: 30px;
                    background: #fff;
                    top: -21px;
                    right: calc(50% - 16px);

                    @media(max-width: map.get($width, lap-top)) {
                        right: 0;
                        top: calc(50% - 15px);
                        left: -60px;
                    }

                    @media(max-width: map.get($width, tablet)) {
                        width: 18px;
                        height: 18px;
                        top: calc(50% - 9px);
                        left: -28px;
                    }

                }
            }

            &.active>.step-desc {
                overflow: visible;
                text-wrap: wrap;
                opacity: 1;
                transition: .3s ease;
            }

            &.active>.step-indicator {
                color: map.get($colors, yellow);
                transition: .3s ease;

            }

            &-indicator {
                font-family: 'Orbitron', 'sans-serif';
                font-weight: 700;
                font-size: 75px;
                text-align: center;
                padding-top: 9px;
                line-height: 1.2;

                @media(max-width: map.get($width, lap-top)) {
                    font-size: 104px;
                    margin-right: 50px;
                }

                @media(max-width: map.get($width, tablet)) {
                    font-size: 60px;
                    margin-right: 46px;
                    padding-top: 0;
                }
            }

            &-desc {
                font-size: 22px;
                font-weight: 500;
                text-align: center;

                @media(max-width: map.get($width, lap-top)) {
                    font-size: 30px;
                    text-align: left;
                }

                @media(max-width: map.get($width, tablet)) {
                    font-size: 15px;
                }
            }
        }
    }

    .step>.step-desc {
        opacity: 0;
        text-wrap: nowrap;
        overflow: hidden;
        transition: .3s ease;

    }
}