@use 'sass:map';

$colors: (
    primary: #fff,
    yellow: #EAFC52,
    main-bg-black: #0C0B0E,
    main-bg-grey: #171717,
    bg-black: #B4B4B4,
    grey: #B4B4B4,
);

$width: (
    pc: 1920px,
    lap-top: 1440px,
    tablet: 768px,
    mobile-l: 435px,
    mobile-m: 375px,
    mobile-s: 320px,
);