@use 'sass:map';

$colors: (
    primary: #fff,
    yellow: #EAFC52,
    main-bg-black: #0C0B0E,
    bg-black: #171717,
    bg-grey: #B4B4B4,
    grey: #B4B4B4,
);

$width: (
    pc: 1920px,
    lap-top-l: 1440px,
    lap-top: 1024px,
    tablet: 768px,
    mobile-l: 425px,
    mobile-m: 375px,
    mobile-s: 320px,
);