@use 'sass:map';

@use '../../vars/vars' as *;
 
.audience {
    max-width: 1220px;
    margin: 0 auto;
    padding: 63px 30px 0 30px;

    @media(max-width:map.get($width, tablet)) {
        max-width: 300px;
        padding: 29px 0 0 0;
    }

    &__title {
        letter-spacing: 1px;
        margin-bottom: 83px;

        @media(max-width:map.get($width, tablet)) {
            margin-bottom: 59px;
            letter-spacing: 3.8px;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        margin-bottom: 113px;

        @media(max-width: 1200px) {
            flex-direction: column;
            align-items: center;
            gap: 60px;
        }
        @media(max-width:map.get($width, tablet)) {
            gap: 17px;
        }
    }

    &__item {
        position: relative;
        padding: 28px 8px 48px 8px;
        text-align: center;
        max-width: 455px;
        border-radius: 20px;

        @media(max-width:map.get($width, tablet)) {
                padding: 27px 30px 34px 30px;
            }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            padding: 1px;
            border: 1px solid transparent;
            background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) border-box;
            -webkit-mask:
                linear-gradient(#fff 0 0) padding-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude;
        }
        &--icon {
            display: block;
            margin: 0 auto;
            margin-bottom: 14px;

            @media(max-width:map.get($width, tablet)) {
                max-width: 86px;
            }
        }
        &--title {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 35px;
            color: map.get($colors, yellow);

            @media(max-width:map.get($width, tablet)) {
                font-size: 20px;
                margin-bottom: 5px;
            }
        }

        &--desc {
            font-weight: 500;
            font-size: 22px;
            @media(max-width:map.get($width, tablet)) {
                font-size: 13px;
            }
        }
    }

    &__arrow {
        display: block;
        margin: 0 auto;

        @media(max-width:map.get($width, tablet)) {
            display: none;
        }
    }
}