@use 'sass:map';

@use '../vars/vars' as *;

.marked-title {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 75px;
    text-transform: uppercase;
    letter-spacing: -3.4px;

    @media(max-width: map.get($width, tablet)) {
        font-size: 26px;
        letter-spacing: 0.7px;
    }

    &--unbordered {
        font-family: "Orbitron", sans-serif;
        font-weight: 700;
        font-size: 68px;
        text-transform: uppercase;

        @media(max-width: 1200px) {
            font-size: 45px;
        }

        span {
            color: map.get($colors, yellow);
            background: none;
        }
    }

    span {
        display: inline-block;
        color: #000;
        background: map.get($colors, yellow);
        padding: 0 10px;
        line-height: 1.3;

        @media(max-width: map.get($width, tablet)) {
            padding: 0 7px;
        }
    }
}