@use 'sass:map';

@use '../vars/vars' as *;

.sign-up__btn {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    background: map.get($colors, yellow);
    color: #000;
    font-size: 25px;
    border-radius: 30px;
    padding: 30px 92px;

    @media(max-width: map.get($width, lap-top)) {
        font-size: 20px;
        padding: 18px 70px;
    }

    @media(max-width: map.get($width, mobile-l)) {
        font-size: 18px;
        letter-spacing: -1px;
        padding: 18px 64px;
        border-radius: 20px;
    }
}