@use 'sass:map';

@use './header/header.scss' as *;
@use './banner/banner.scss' as *;
@use './welcome/welcome.scss' as *;
@use './hero/hero.scss' as *;
@use './how-it-works/how-it-works.scss' as *;
@use './make-money/make-money.scss' as *;